<div class="flex flex-col w-screen p-5 md:p-0 md:w-auto">
  <div class="flex justify-center items-center text-4xl md:text-5xl mb-5">
    Emoticons Generator
  </div>
  <div class="flex justify-center items-center md:text-1xl mb-5">
    A free copy and paste generator for lenny face emoticons, emoji, and kaomoji. Build your own lenny face with 238,260 combinations.
  </div>
  <div class="flex w-full items-center rounded-3xl
              drop-shadow-md shadow-md bg-gray-100 mb-5">
    <div class="flex items-center text-5xl md:text-7xl h-28 text-center w-full justify-center font-sans whitespace-pre" (click)="copyToClipboard()">
      <p  *ngIf="generatedEmoji">
        {{generatedEmoji}}
      </p>
    </div>
  </div>
  <div class="text-center">
    <button
      class="m-1 font-semibold cursor-pointer text-center whitespace-nowrap align-middle select-none uppercase tracking-wider text-xs px-5 py-1.5 border-0 bg-gray-300 transition-all duration-200 ease-in-out rounded-xl text-base rounded-2xl px-6 h-12 inline-flex relative bg-gradient-to-r from-blue-400 to-pink-500 z-10 text-white items-center text-shadow-md h-12 bg-gradient-to-tr from-blue-400 via-pink-400 to-pink-500"
      (click)="copyToClipboard()"
    >
      {{ buttonText }}
    </button>
    <button class="m-1 font-semibold cursor-pointer text-center whitespace-nowrap align-middle select-none uppercase tracking-wider text-xs px-5 py-1.5 border-0 bg-gray-300 transition-all duration-200 ease-in-out rounded-xl text-base rounded-2xl px-6 h-12 bg-black text-white"
    (click)="randomizeSelection()">Randomize</button>
  </div>

  <div class="grid md:grid-cols-3 md:gap-4 md:mt-5">
    <div class="min-w-[280px] md:min-w-full max-w-full">
      <h3 class="text-md md:text-xl font-bold flex items-center md:justify-center truncate">Ears and Arms</h3>
      <div class="flex pt-1 pb-1 md:pt-0 md:pb-0 space-x-4 md:space-x-0 md:flex-col md:space-y-2 overflow-x-auto md:overflow-x-hidden md:overflow-y-auto gap-1 md:pl-5 md:pr-5 pl-1 pr-1 pair1Container" style="max-height: 450px;">
        <button
          class="text-sm min-w-[7rem] md:text-2xl md:w-auto outline-shadow min-h-[40px]
      rounded-2xl transition duration-300 ease-in-out
      hover:bg-gray-300 hover:shadow-lg md:first:mt-15 whitespace-pre"
          [ngClass]="{'bg-gray-200': selectedPair1 === pair, '': selectedPair1 !== pair}"
          *ngFor="let pair of data1.glyphset"
          [attr.data-id]="pair.left"
          (click)="selectPair1(pair)" [innerHTML]="renderArms(pair)">
        </button>
      </div>
    </div>


    <div class="min-w-[280px] md:min-w-full max-w-full">
      <h3 class="text-md md:text-xl font-bold flex items-center md:justify-center">Eyes</h3>

      <div class="flex pt-1 pb-1 md:pt-0 md:pb-0 overflow-x-auto space-x-4 md:space-x-0 md:flex-col md:space-y-2 md:overflow-y-auto gap-1 md:pl-5 md:pr-5 pl-1 pr-1 pair2Container" style="max-height: 450px;">
        <button
          class="text-sm min-w-[7rem] md:text-2xl md:w-auto outline-shadow min-h-[40px]
          rounded-2xl transition duration-300 ease-in-out
          hover:bg-gray-300 hover:shadow-lg md:first:mt-15 whitespace-pre"
          [ngClass]="{'bg-gray-200': selectedPair2 === pair, '': selectedPair2 !== pair}"
          *ngFor="let pair of data2.glyphset"
          [attr.data-id]="pair.left"
          (click)="selectPair2(pair)" [innerHTML]="renderEyes(pair)">
        </button>
      </div>
    </div>

    <div class="min-w-[280px] md:min-w-full max-w-full">
      <h3 class="text-md md:text-xl font-bold flex items-center md:justify-center">Mouth</h3>
      <div class="flex pt-1 pb-1 md:pt-0 md:pb-0 overflow-x-auto  space-x-4 md:space-x-0 md:flex-col md:space-y-2 md:overflow-y-auto gap-1 md:pl-5 md:pr-5 pl-1 pr-1 pair3Container" style="max-height: 450px;">
        <button
          class="text-sm min-w-[7rem] md:text-2xl md:w-auto outline-shadow min-h-[40px]
          rounded-2xl transition duration-300 ease-in-out
          hover:bg-gray-300 hover:shadow-lg md:first:mt-15"
          [ngClass]="{'bg-gray-200': selectedMouth === mouth, '': selectedMouth !== mouth}"
          *ngFor="let mouth of data3.glyphset"
          [attr.data-id]="mouth.mouth"
          (click)="selectMouth(mouth)">
          {{mouth.mouth}}
        </button>
      </div>
    </div>
  </div>

  <div class='xl:w-12/12 w-11/12'>
    <div [class]="classStyleSvc.title">
      The Beginner's Guide to the Emoticons
    </div>
    <div [class]="classStyleSvc.conTxtCls">
      Emojis and emoticons have become quintessential tools for expressing oneself in today's digital age. Among them, the iconic Emoticons stands out, offering a unique blend of mischief and emotion. Let's delve into the world of this popular emoticon.
    </div>
    <div [class]="classStyleSvc.conH1">
      What Is the Emoticons?
    </div>
    <div [class]="classStyleSvc.conTxtCls">
      The Emoticons is a clever arrangement of keyboard characters that, when combined, produce a face with a mischievous expression. It looks like this: ( ͡° ͜ʖ ͡°). Recognizable by its distinct eyebrows, eyes, ears, nose, and mouth, it is crafted using various Unicode characters. Most people opt to copy and paste it, making it a hassle-free addition to their online interactions.
    </div>
    <div [class]="classStyleSvc.conH1">
      Lenny's Origins
    </div>
    <div [class]="classStyleSvc.conTxtCls">
      Tracing its roots back to a Finnish imageboard website named Yilauta, the Emoticons first emerged in 2012 within a thread about spam filters. It soon spread like wildfire, with users sharing and adapting it. The emoticon soon crossed borders, appearing on platforms like 4chan and Reddit. Due to its rapid proliferation, some users even faced bans for spamming it excessively. Its naming, while not entirely clear, seems to have emerged from a naming thread on 4chan, with "Lenny Face" and "Le Lenny Face" (hinting at its French influence) becoming the most popular.
    </div>
    <div [class]="classStyleSvc.conH1">
      The Evolution of Lenny
    </div>
    <div [class]="classStyleSvc.conTxtCls">
      Over time, the Lenny Face has seen various adaptations. Creative users have superimposed it on popular characters, including the likes of Spongebob Squarepants. From its humble beginnings on imageboard forums, Lenny has traversed to all corners of the internet, evolving in style and context. Today, it's not uncommon to find Lenny Face merchandise, marking its iconic status in internet culture.
    </div>
    <div [class]="classStyleSvc.conH1">
      Why 'Lenny'?
    </div>
    <div [class]="classStyleSvc.conTxtCls">
      The exact origins of its name remain shrouded in mystery. One Reddit post suggests an active 4chan user played a role in naming the emoticon after a thread emerged to christen the popular face. "Lenny Face" was one of the favored names, but it wasn't the only contender. Alternate suggestions like "hoppity boppity" floated around but didn't gain the same traction.
    </div>
    <div [class]="classStyleSvc.conH1">
      Lenny's Many Faces
    </div>
    <div [class]="classStyleSvc.conTxtCls">
      While the classic Lenny Face exudes mischief, its versatile nature has allowed for a range of adaptations, each expressing different emotions. From confusion to satisfaction, there's a Lenny Face for almost every mood. The key to its adaptability? Your creativity!
    </div>
    <div [class]="classStyleSvc.conH1">
      How to Use the Emoticons
    </div>
    <div [class]="classStyleSvc.conTxtCls">
      Using the Emoticons is as simple as copying and pasting. Add it to your digital toolkit, and let Lenny express your emotions when words fall short!

      In essence, the Emoticons is more than just an emoticon; it's a testament to the internet's capacity to craft and share new expressions. Embrace it, and let your conversations be enhanced by its cheeky charm!
    </div>
  </div>
</div>

