<section class="w-full flex justify-center md:mt-10 mx-auto max-w-5xl">
  <div class="flex flex-col w-screen p-5 md:p-0">
    <div class="flex justify-center items-center text-4xl md:text-5xl mb-5">
      Emoji Generator
    </div>
    <div class="flex justify-center items-center md:text-1xl mb-5">
      A free copy and paste generator for combined emoji. Build your own emoji with 18,260 combinations.
    </div>
    <div class="flex w-full items-center rounded-3xl max-w-5xl
              drop-shadow-md shadow-md bg-gray-100 mb-5">

      <app-middle-emoji-list
        class="w-full"
        [middleList]="middleList"
        [showOneCombo]="showOneCombo"
        [hasClipboardSupport]="hasClipboardSupport"
        (clickEmoji)="onClickEmoji($event)"
      ></app-middle-emoji-list>
<!--      (fullEmojiRandomize)="handleFullEmojiRandomize()"-->

    </div>
    <div class="text-center">
      <button
        class="m-1 font-semibold cursor-pointer text-center whitespace-nowrap align-middle select-none uppercase tracking-wider text-xs px-5 py-1.5 border-0 bg-gray-300 transition-all duration-200 ease-in-out rounded-xl text-base rounded-2xl px-6 h-12 inline-flex relative bg-gradient-to-r from-blue-400 to-pink-500 z-10 text-white items-center text-shadow-md h-12 bg-gradient-to-tr from-blue-400 via-pink-400 to-pink-500"
        (click)="handleImageCopy(selectedEmoji)"
      >
        {{ 'Copy Emoji' }}
      </button>
      <button class="m-1 font-semibold cursor-pointer text-center whitespace-nowrap align-middle select-none uppercase tracking-wider text-xs px-5 py-1.5 border-0 bg-gray-300 transition-all duration-200 ease-in-out rounded-xl text-base rounded-2xl px-6 h-12 bg-black text-white"
              (click)="handleImageDownload(selectedEmoji)">Download Emoji</button>
    </div>

    <div class="grid md:grid-cols-2 md:gap-4 md:mt-5">

      <app-left-emoji-list
        [knownSupportedEmoji]="knownSupportedEmoji"
        [leftSearchResults]="leftSearchResults"
        (bulkImageDownloadMenuOpen)="handleBulkImageDownloadMenuOpen($event)"
      ></app-left-emoji-list>

      <app-right-emoji-list
        [knownSupportedEmoji]="knownSupportedEmoji"
        [selectedLeftEmoji]="selectedLeftEmoji"
        [hasSelectedLeftEmoji]="hasSelectedLeftEmoji"
        [selectedRightEmoji]="selectedRightEmoji"
        [possibleEmoji]="possibleEmoji"
      ></app-right-emoji-list>
<!--      [rightSearchResults]="rightSearchResults"-->
    </div>
  </div>
</section>
<section class="w-full flex justify-center md:mt-10 mx-auto max-w-5xl min-h-[720px]">

  <div>
    <div class='xl:w-12/12 w-11/12'>
      <div [class]="classStyleSvc.title">
        The Beginner's Guide to the Emoji Generator
      </div>
      <div [class]="classStyleSvc.conTxtCls">
        Create your unique emojis with Emoji Generator now!
        <br>
        Mix and match various emoji categories to generate creative emojis in 'Emoji Generator'!
        <br>
        Create unique emojis for your small business or brand.
        <br>
        Use them in your logo and marketing materials to showcase your brand's personality.
        <br>
        By exploring these diverse ways to use "Emoji Generator," users can go beyond simple emoji creation and leverage the app for various creative purposes. Empower your digital experience by crafting and sharing personalized content with the app.
      </div>
      <div [class]="classStyleSvc.conH1">
        Messaging and Social Media:
      </div>
      <div [class]="classStyleSvc.conTxtCls">
        Generate diverse emojis to enhance your messages and social media posts.
        <br>
        Add fun and creativity to your conversations with friends.
      </div>
      <div [class]="classStyleSvc.conH1">
        Create Emoji Stories:
      </div>
      <div [class]="classStyleSvc.conTxtCls">
        Mix and match different emojis to craft your own stories.
        <br>
        Share or save your created stories to enjoy your personalized emoji tales.
      </div>
      <div [class]="classStyleSvc.conH1">
        Emoji Icon Creation:
      </div>
      <div [class]="classStyleSvc.conTxtCls">
        Use Emoji Generator to easily create icons.
        <br>
        Try them out as icons for blogs, websites, or apps.
      </div>
      <div [class]="classStyleSvc.conH1">
        Build Your Emoji Collection:
      </div>
      <div [class]="classStyleSvc.conTxtCls">
        Mix your favorite emojis to create your own collection.
        <br>
        Share with others to build a community around your unique emoji set.
      </div>
      <div [class]="classStyleSvc.conH1">
        Emoji Storytelling:
      </div>
      <div [class]="classStyleSvc.conTxtCls">
        Create stories by blending different emojis together.
        <br>
        Share or save your crafted stories for your own emoji narrative experience.
      </div>
      <div [class]="classStyleSvc.conH1">
        Emoji Icon Creation:
      </div>
      <div [class]="classStyleSvc.conTxtCls">
        Utilize Emoji Generator to easily create icons.
        <br>
        Use them for your blog, website, or even as your app's icon.
      </div>
      <div [class]="classStyleSvc.conH1">
        Emoji Collection Building:
      </div>
      <div [class]="classStyleSvc.conTxtCls">
        Combine your favorite emojis to build your own emoji collection.
        <br>
        Share it with others to form a community around your unique creations.
      </div>
      <div [class]="classStyleSvc.conH1">
        Emoji Artwork:
      </div>
      <div [class]="classStyleSvc.conTxtCls">
        Craft creative emoji art using Emoji Generator.
        <br>
        Print or share your creations on social media for artistic expression.
      </div>
      <div [class]="classStyleSvc.conH1">
        Emoji Game Development:
      </div>
      <div [class]="classStyleSvc.conTxtCls">
        Create simple games using a variety of emojis.
        <br>
        Enjoy emoji quizzes or matching games with friends and family.
      </div>
      <div [class]="classStyleSvc.conH1">
        Holiday Cards and Emoji Posters:
      </div>
      <div [class]="classStyleSvc.conTxtCls">
        Craft emoji cards or posters to celebrate birthdays, anniversaries, or special events.
        <br>
        Express emotions more vividly with customized emojis.
      </div>
    </div>
  </div>
</section>
