<section class="w-full flex justify-center md:mt-10 min-h-[720px] mx-auto max-w-5xl">
  <div class="flex flex-col w-screen p-5 md:p-0">
    <div class="flex justify-center items-center text-4xl md:text-5xl mb-5">
      Emoji kitchen
    </div>
    <div class="flex justify-center items-center md:text-1xl mb-5">
      A free copy and paste generator for combined emoji. Build your own emoji with 18,260 combinations.
    </div>
    <div class="flex w-full items-center rounded-3xl max-w-5xl
              drop-shadow-md shadow-md bg-gray-100 mb-5">

      <app-middle-emoji-list
        class="w-full"
        [middleList]="middleList"
        [showOneCombo]="showOneCombo"
        [hasClipboardSupport]="hasClipboardSupport"
        (clickEmoji)="onClickEmoji($event)"
      ></app-middle-emoji-list>
<!--      (fullEmojiRandomize)="handleFullEmojiRandomize()"-->

    </div>
    <div class="text-center">
      <button
        class="m-1 font-semibold cursor-pointer text-center whitespace-nowrap align-middle select-none uppercase tracking-wider text-xs px-5 py-1.5 border-0 bg-gray-300 transition-all duration-200 ease-in-out rounded-xl text-base rounded-2xl px-6 h-12 inline-flex relative bg-gradient-to-r from-blue-400 to-pink-500 z-10 text-white items-center text-shadow-md h-12 bg-gradient-to-tr from-blue-400 via-pink-400 to-pink-500"
        (click)="handleImageCopy(selectedEmoji)"
      >
        {{ 'Copy Emoji' }}
      </button>
      <button class="m-1 font-semibold cursor-pointer text-center whitespace-nowrap align-middle select-none uppercase tracking-wider text-xs px-5 py-1.5 border-0 bg-gray-300 transition-all duration-200 ease-in-out rounded-xl text-base rounded-2xl px-6 h-12 bg-black text-white"
              (click)="handleImageDownload(selectedEmoji)">Download Emoji</button>
    </div>

    <div class="grid md:grid-cols-2 md:gap-4 md:mt-5">

      <app-left-emoji-list
        [knownSupportedEmoji]="knownSupportedEmoji"
        [leftSearchResults]="leftSearchResults"
        (bulkImageDownloadMenuOpen)="handleBulkImageDownloadMenuOpen($event)"
      ></app-left-emoji-list>

      <app-right-emoji-list
        [knownSupportedEmoji]="knownSupportedEmoji"
        [selectedLeftEmoji]="selectedLeftEmoji"
        [hasSelectedLeftEmoji]="hasSelectedLeftEmoji"
        [selectedRightEmoji]="selectedRightEmoji"
        [possibleEmoji]="possibleEmoji"
      ></app-right-emoji-list>
<!--      [rightSearchResults]="rightSearchResults"-->
    </div>
  </div>


</section>
