<section class="w-full flex justify-center md:mt-10 min-h-[720px] mx-auto max-w-5xl overflow-hidden">
  <div class="flex flex-col w-screen p-5 md:p-0 md:w-auto">
    <div class="flex justify-center items-center text-4xl md:text-5xl mb-5">
      Image Text Generator
    </div>
    <div class="flex justify-center items-center md:text-1xl mb-5">

      If you're searching for a comparable text generator utilizing impressive image text and ASCII, you can craft a range of stylized text using various fonts and characters.
    </div>
    <div class="md:col-span-4 w-full ">
      <div class="mx-auto lg:px-0 max-w-auto px-5 mb-5">
        <div>
          <div class="mx-auto text-center">
            <div class="mx-auto md:pl-2 md:pr-2 grid grid-cols-1 md:grid-cols-4">
              <h3 class="text-md md:text-xl font-bold flex items-center justify-center md:mb-0 mb-3">Custom Intensity Ramp:</h3>
              <input
                class="text-sm md:text-2xl w-full outline-shadow min-h-[40px] rounded-2xl transition duration-300 ease-in-out hover:bg-gray-50 hover:shadow-lg first-item-margin text-center"
                [(ngModel)]="customIntensityRamp" (input)="updateAsciiArt()"
                type="text">
            </div>
          </div>
        </div>
      </div>

      <app-image-uploader (fileSelected)="onFileSelected($event)"></app-image-uploader>
      <div class="flex w-full items-center justify-center drop-shadow-md mb-5">

        <button
          class="m-1 font-semibold cursor-pointer text-center whitespace-nowrap align-middle select-none uppercase tracking-wider text-xs px-5 py-1.5 border-0 bg-gray-300 transition-all duration-200 ease-in-out rounded-xl text-base rounded-2xl px-6 h-12 inline-flex relative bg-gradient-to-r from-blue-400 to-pink-500 z-10 text-white items-center text-shadow-md h-12 bg-gradient-to-tr from-blue-400 via-pink-400 to-pink-500"
          (click)="copyTextToClipboard()"
        >
          Copy Clipboard
        </button>
        <button
          class="m-1 font-semibold cursor-pointer text-center whitespace-nowrap align-middle select-none uppercase tracking-wider text-xs px-5 py-1.5 border-0 bg-gray-300 transition-all duration-200 ease-in-out rounded-xl text-base rounded-2xl px-6 h-12 inline-flex relative bg-gradient-to-r from-blue-400 to-pink-500 z-10 text-white items-center text-shadow-md h-12 bg-gradient-to-tr from-blue-400 via-pink-400 to-pink-500"
          (click)="downloadImage()"
        >
          Download Image
        </button>
      </div>
    </div>


    <div #captureElement  class="flex w-full items-center rounded-3xl drop-shadow-md shadow-md bg-gray-100 overflow-hidden min-h-[384px]">
      <!-- Image Thumbnail -->
      <div class="absolute top-10 left-10" [class.zoomed]="isZoomed" (click)="toggleZoom()">
        <img class="w-12 rounded-2xl" [src]="imageThumbnailSrc" alt="Image Thumbnail" />
      </div>


      <div class="ascii-art-container flex items-center text-center w-full justify-center">
        <pre class="ascii-art-container overflow-auto" [style.font-size]="fontSize" [innerText]="asciiArt"></pre>
      </div>
    </div>


  </div>
</section>
