<section class="w-full flex justify-center md:mt-10 min-h-[720px] mx-auto max-w-5xl overflow-hidden">
  <div class="flex flex-col w-screen p-5 md:p-0 md:w-auto">
    <div class="flex justify-center items-center text-4xl md:text-5xl mb-5">
      Image Text Generator
    </div>
    <div class="flex justify-center items-center md:text-1xl mb-5">

      If you're searching for a comparable text generator utilizing impressive image text and ASCII, you can craft a range of stylized text using various fonts and characters.
    </div>
<!--    <input #fileInput type="file" accept=".png" (change)="handleFileSelect($event)">-->
    <app-image-uploader (fileSelected)="onFileSelected($event)"></app-image-uploader>
    <div>
      <label for="customIntensityRamp">Custom Intensity Ramp:</label>
      <input type="text" id="customIntensityRamp" [(ngModel)]="customIntensityRamp" (input)="updateAsciiArt()">
    </div>

    <div #captureElement  class="flex w-full items-center rounded-3xl drop-shadow-md shadow-md bg-gray-100 overflow-hidden min-h-[384px]">
      <div class="ascii-art-container flex items-center text-center w-full justify-center">
        <pre class="ascii-art-container" [style.font-size]="fontSize">{{ asciiArt }}</pre>
      </div>
    </div>


  </div>
</section>
