@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./assets/static/pretendard-subset.css";



@layer base {
  html {
    font-family: Pretendard, system-ui, sans-serif;
  }
}
/* styles.css */
.common-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #f0f0f0;
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #888;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* 웹킷 브라우저 전용 스크롤바 스타일링 */
::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
  height: 10px; /* 스크롤바의 높이, 가로 스크롤의 경우에 사용 */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤바의 전체 배경색 */
  border-radius: 10px; /* 둥근 모서리 지정 */
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb; /* 스크롤바의 색상 */
  border-radius: 10px; /* 둥근 모서리 지정 */
}

::-webkit-scrollbar-thumb:hover {
  background: #939393; /* 스크롤바 위에 마우스를 올렸을 때 색상 */
}

.custom-shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.outline-shadow {
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.first-item-margin:first-child {
  margin-top: 15px;  /* 원하는 크기에 따라 변경하세요 */
}
/* Add this CSS to your component's style file */
.zoomed {
  transform: scale(2); /* You can adjust the scale factor as needed */
  transition: transform 0.3s ease-in-out; /* Adjust the duration and timing function */
}
