
    <div class="flex overflow-auto h-44 text-center items-center w-full font-sans whitespace-pre max-w-5xl">
      <ng-container *ngIf="!showOneCombo; else singleCombo">
        <ng-container *ngFor="let combo of middleList">
          <img
            class="w-[130px] h-[130px]"
            style="border: none !important;"
            loading="lazy"
            (click)="onClick(combo);"
            [ngClass]="{'bg-gray-200': combo.alt === selectedLeftEmoji, 'gray': 'white'}"
            [alt]="combo.alt"
            [src]="combo.src"
          />
            <!--              <div *ngIf="hasClipboardSupport">-->
            <!--                <button (click)="handleImageCopy(combo)">-->
            <!--                  <div>content_copy2</div>-->
            <!--                </button>-->
            <!--              </div>-->
            <!--              <div *ngIf="!hasClipboardSupport">-->
            <!--                <button (click)="handleImageDownload(combo)">-->
            <!--                  <div>download2</div>-->
            <!--                </button>-->
            <!--              </div>-->
        </ng-container>
      </ng-container>
      <ng-template #singleCombo>
        <div class="w-full flex items-center justify-center">
          <img
            *ngIf="showOneCombo"
            style="border: none !important;"
            class="w-[130px] h-[130px] border-none"
            loading="lazy"
            [alt]="middleList[0].alt"
            [src]="middleList[0].src"
          />
        </div>
<!--        <div *ngIf="showOneCombo && hasClipboardSupport">-->
<!--          <button (click)="handleImageCopy(null)">-->
<!--            <div>content_copy</div>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div *ngIf="showOneCombo && !hasClipboardSupport">-->
<!--          <button (click)="handleImageDownload(null)">-->
<!--            <div>download</div>-->
<!--          </button>-->
<!--        </div>-->
      </ng-template>
    </div>
<!--      <div *ngIf="selectedLeftEmoji !== ''">-->
<!--        <button (click)="handleFullEmojiRandomize()">-->
<!--          <div>-->
<!--            casino-->
<!--          </div>-->
<!--        </button>-->
<!--      </div>-->
